<a href="https://colab.research.google.com/github/Denzel-Loyd-Macasero/OOP58003/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

python Indentation

In [ ]:
if 5>2:
  print("five is greater than two")

five is greater tham two

Python Comments

In [ ]:
print("Hello World")      #This is a comment

Hello World

Python Variables

In [ ]:
a=1
b,c=0,2
c,d,e=2,3,4

name="ana"

print(e)
print(d)
print(name)

4
3
ana

Casting

In [ ]:
a=int(1)
b=float(4.50)

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

Double quotes and Single Quotes

In [ ]:
name = 'John'

print(name)

John

Case Sensitive

In [ ]:
print(a)

Output Variables

In [ ]:
print("welcome to Python Programming")
x="welcom to"
y="Python programming"

welcome to Python Programming

Arithmetic Operations

In [ ]:
print(1+1)
print(1-1)
print(1*1)
print(1/1)
print(int(1/1))
print(3//2)
print(3**2)

2
0
1
1.0
1
1
9

Assignment Operators

In [ ]:
p=5

p%=2 #same as p = p%2
print(p)

1

Comaprison Operators

In [ ]:
s=11
t=12

s>t

False

Logical Operator

In [ ]:
s>t and t>s
print(s>t or t>s)

False

Identity Operators

In [ ]:
print(s>t or t>s) is True

True

False

Bitwise Operator

In [ ]:
q = 5 #binary 0
v = 4

print(5|4)
print(5^4)

5
1

Input()Function

In [ ]:
age = int(input())

if age==18:
print("yuor age is allowed to vote")

SyntaxError: ignored

Boolean Operators

In [1]:
a=10

print(10>9)
print(10<9)
print(10==9)

True
False
False

bool() Function

Fucntions can Return a Boolean

In [19]:
def myFunction():
 return True
print(myFunction)

<function myFunction at 0x7fa7720a0c20>

In [4]:
a=6
b=7

print(a==b)
print(a!=a)

False
False

Bitwise Operation

In [7]:
a=60
b=13

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a>>1)

12
61
49
120
30

Logical Operators

In [8]:
s=True
t=False

not(s and t)

True

Control stucture

if statement

In [9]:
g=100
h=60

if g>h:
  print("g is greater than h")

g is greater than h

Elif Statement

In [13]:
elif g<h:
   print("g is greater than h")
  else:
       print("g is greater than h")

SyntaxError: ignored

Short hand if Statement

In [14]:
if g==h: print("g is equal to h")

Nested if else

In [18]:
x=41

if x>10:
  print("x is above 10")
  if x>20:
   print("and also above 20")
  if x>30:
    print("and also above 40")

x is above 10
and also above 20
and also above 40

#**Application3**

In [ ]:
age=int(input())

LOOP statement

In [17]:
week = ['Sunday','Monday', 'Tuesday', 'Wednesday', "Thursday", "Friday", 'Saturday']
season = ['rainy', 'sunny']

for x in week:
 for y in season:
  print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

**Application**

In [21]:
for x in week:
  if x=="Friday":
   print(x)
  break

While Loop

In [23]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

**Application5**

In [27]:
i=1

while i<6:
  if i==2:
    print(i)
    break
    i+=1

KeyboardInterrupt: ignored